@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: unset;
    font-family: "Poppins";
}
header{
    background-image: url('./assests/images/day.jpeg');
    height: 300px;
    background-size: cover;
    background-position: center;
}
img.social{
    width: 20px;
    margin: 0px 10px;
}
footer{
    background-color: wheat;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.2rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}